<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <script type="text/javascript" src="{{ STATIC_URL }}main/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}main/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main/css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main/css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main/css/buttons.css"/>
    {% block extrahead %}{% endblock %}
    <title>Parking System Interface</title>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
