{% extends "main/base.html" %}
{% block extrahead %}
<script type="text/javascript" src="{{STATIC_URL}}main/js/server.js"></script>
<style>


</style>
{% endblock %}


{% block content %}
<nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="welcome-user" href="#"></a>
        </div>
        <!-- Place everything within .navbar-collapse to hide it until above 768px -->
        <div class="navbar-collapse collapse navbar-ex1-collapse">

            <div id="navbtns">
                {% csrf_token %}
                <div onclick="signOut();">
                    <form class="navbar-form navbar-right">
                        <button id="signOut" type="button" class="btn navbar-btn">
                            Sign out
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

<div class="container">

  	<div class="panel panel-default page-curl bottom-shadow">
<div class="panel-heading">
<h2>Current Parking Records</h2>
</div>
  <div class="">
    <table class="table table-striped table-hover table-responsive" id="no-more-tables">
    <thead>
        <tr>
            <th class="text-center">ID</th>
	    <th class="text-center">User</th>
            <th class="text-center">Garage</th>
            <th class="text-center">Space</th>
            <th class="text-center">Start Time</th>
            <th class="text-center">End Time</th>
            <th class="text-center">Rate</th>
            <th class="text-center">Total Cost</th>
            <th class="text-center">License Plate</th>
        </tr>
    </thead>
    <tbody>
        {% if current %}
        {% load print_stuff %}
        {% for i in current reversed%}
            <tr>
                <td data-title="ID">{{i.order_number|print_id}}</td>
		        <td data-title="User">{{i.participant.username}}</td>
                <td data-title="Garage">{{i.garage}}</td>
                <td data-title="Space">{{i.space}}</td>
                <td data-title="StartTime">{{i.start_time|print_timestamp}}</td>
                <td data-title="EndTime">{{i.end_time|print_timestamp}}</td>
                <td data-title="Rate">{{i.rate|print_rate:i.granularity}}</td>
                <td data-title="Cost">{{i.total_cost|print_cost}}</td>
                <td data-title="LP">{{i.participant_id|print_lp }}</td>
            </tr>
        {% endfor %}
        {% else %}
        <p>No one is currently parking.</p>
        {% endif %}
    </tbody>
    </table>
  </div>
</div>
</div>


<div class="footer">
A product of xmobile.berkeley.edu
</div>
<script type="text/javascript" src="{{STATIC_URL}}main/js/signout.js"></script>
<script>
var u = window.localStorage["username"];
$(".main").css("visibility","visible");
$("#logo").hide();
$("#welcome-user").text(welcome_text + "Admin");
</script>
{% endblock %}
