{% extends "main/base.html" %}
{% block extrahead %}
    <script type="text/javascript" src="{{ STATIC_URL }}main/js/server.js"></script>
{% endblock %}


{% block content %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="welcome-user" href="/"></a>
        </div>
        <!-- Place everything within .navbar-collapse to hide it until above 768px -->
        <div class="navbar-collapse collapse navbar-ex1-collapse">

            <div id="navbtns">
                {% csrf_token %}
                <div onclick="signOut();">
                    <form class="navbar-form navbar-right">
                        <button id="signOut" type="button" class="btn navbar-btn">
                            Sign out
                        </button>
                    </form>
                </div>

                <form id="parkingHistory" class="navbar-form navbar-right" action="/uhistory"
                      method="POST">{% csrf_token %}
                    <input type="hidden" id="username" name="username" value="">
                    <button type="submit" class="btn btn-inverse navbar-btn">Parking History</button>
                </form>

                <form id="editAccount" class="navbar-form navbar-right" action="/uedit">
                    <button type="button" onclick="location.href='/uedit';"
                            class="btn btn-inverse navbar-btn">
                        Edit Account
                    </button>
                </form>
            </div>

        </div>
    </nav>
<div class="wrap">
<div class="main">
  <div class="container">
    <div id="content-fav">
        <div id="favorite" class="well well-sm">
            <strong>Your favorite(s): </strong><br>
            <span id="favorite-list"></span>
        </div>
    </div>

    <div id="content-window">
    <div class="well well-sm">Pick a garage from the favorites, list or map</div>
    </div>
    <div class="well well-sm">
        <input onclick="showList();" id="show-list-btn" class="btn btn-warning" type="button" value="Show List"/>&nbsp
        <input onclick="showMap();" id="show-map-btn" type="button" class="btn btn-warning" value="Show Map"/>&nbsp
    </div>
    <div class="well well-sm" id="loading">Loading... Please Wait</div>

    <div class="row">
  	    <div id="map-canvas"></div>
    </div>

    <div id="list-canvas"></div>

  </div>

<!-- Modal -->
<div class="modal fade" id="confirming">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body" id="conf-message">
        Park at <strong id="conf-garage"></strong> for <strong id="conf-rate"></strong>.<br>
      </div>
      <div class="modal-footer">
        <div class="btn-group">
            <form id="payment" name="transaction">
                <button type="button" class="btn btn-default" class="close" data-dismiss="modal">Cancel</button>
                <input type="hidden" id="user-trans" name="user" value="">
                <input type="hidden" id="token-trans" name="token" value="">
                <input type="hidden" id="order-number" name="orderNumber" value="1">
                <input type="hidden" id="payment-type" name="paymentType" value="cctoken">
                <input type="hidden" id="amount" name="amount" value="">
                <!--<button type="button" id="confirmed" class="btn btn-primary">Payment Gateway</button>i-->
                <button type="button" class="btn-primary btn" id="confirmed">Confirm</button>
            </form>
        </div>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div>
</div>

<div class="footer">
A product of xmobile.berkeley.edu
</div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script type="text/javascript" src="{{STATIC_URL}}main/js/messages.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}main/js/favorite.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}main/js/loadgarages.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}main/js/asynctasks.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}main/js/signout.js"></script>
<script>
var u = window.localStorage['username'];
var $welcome_user = $("#welcome-user");

if (u){
    $("#username").val(u);
    $("#user-check").val(u);
    $welcome_user.text(welcome_text + u);
    getStatus();
    loading_css.hide();
}else{
    signOut();
}

</script>
{% endblock %}
